<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Free Bootstrap Admin Template : Two Page</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://cdn.bootcss.com/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script th:src="@{/js/custom.js}"></script>

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link th:href="@{/css/custom.css}" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
    <script th:src="@{/busi/appExp.js}"></script>
</head>
<body>
    <div id="wrapper">
         <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="adjust-nav">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><i class="fa fa-square-o "></i>nbsp;TWO PAGE</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">See Website</a></li>
                        <li><a href="#">Open Ticket</a></li>
                        <li><a href="#">Report Bug</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
                    <li class="text-center user-image-back">
                        <img th:src="@{/img/find_user.png}" class="img-responsive" />

                    </li>
                    <li>
                        <a href="../sysinfo/index"><i class="fa fa-desktop "></i>SystemInfomation</a>
                    </li>

                    <li>
                        <a href="../hzl/index"><i class="fa fa-desktop "></i>appEXp</a>
                    </li>

                    <li>
                        <a href="../news/index"><i class="fa fa-table "></i>News</a>
                    </li>
                    <li>
                        <a href="../message/index"><i class="fa fa-edit "></i>Messages </a>
                    </li>
                    <li>
                        <a href="../product/index"><i class="fa fa-edit "></i>Products </a>
                    </li>
                </ul>

            </div>

        </nav>

        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >


            <div id="page-inner">
                <br/><br/><br/>
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-5 column">
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <div class="form-group" style="text-align: center">
                                        <!--<label class="form-label">-->
                                            <!--Title :-->
                                        <!--</label>-->
                                    </div>
                                </div>
                                <div class="col-md-8 column">
                                    <!--<input type="text" class="form-control" id="queryTitle" placeholder="Title"  />-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 column">
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <div class="form-group" style="text-align: center">
                                        <!--<label class="form-label">-->
                                            <!--Content :-->
                                        <!--</label>-->
                                    </div>
                                </div>
                                <div class="col-md-8 column">
                                    <!--<input type="text" class="form-control" id="queryContent"-->
                                           <!--placeholder="Content" />-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 column">
                            <button type="button" class="btn btn-primary btn-lg" id="search">Search</button>
                        </div>
                    </div>

                </div>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <div class="row clearfix">
                            <div class="col-md-4 column">
                            </div>
                            <div class="col-md-6 column">
                            </div>
                            <div class="col-md-2 column">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-7 column">
                        <table class="table" id="newsTable">
                            <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" name="chkAll" id="chkAll" onclick="javascript:docheck()"/>
                                </th>
                                <th>
                                    ID
                                </th>
                                <th>
                                    设备信息
                                </th>
                                <th>
                                    错误内容
                                </th>
                                <th>
                                    时间
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="row clearfix">
                            <div class="col-md-2 column">
                            </div>
                            <div class="col-md-6 column">
                            </div>
                            <div class="col-md-4 column" >
                                <ul class="pagination" id="pageContent">
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 column" >
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    错误内容
                                </h3>
                            </div>
                            <div class="panel-body">
                                <span id="errorcontent"></span>
                            </div>
                            <div class="panel-footer">
                            </div>
                        </div>
                    </div>
                </div>
                 <!-- /. ROW  -->
                  <hr />

                 <!-- /. ROW  -->
            </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>

</body>
</html>
