<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/fafugis/map.css}" rel="stylesheet"/>
    <script type="text/javascript"
            th:src="@{http://api.map.baidu.com/api(v=${info.appVersion},ak=${info.appAk})}"></script>
    <script type="text/javascript"
            src="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/DrawingManager/1.4/src/DrawingManager_min.css"/>
    <!--加载检索信息窗口-->
    <script type="text/javascript"
            src="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.js"></script>
    <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.4/src/SearchInfoWindow_min.css"/>
    <title>地图展示</title>
    <script th:src="@{/fafugis/map.js}"></script>
</head>
<body>
<div id="topbar"></div>
<!--<div id="more">-->
    <!--<button class="btn btn-default" type="button" onclick="getmore()">-->
        <!--<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>-->
    <!--</button>-->
<!--</div>-->
<div id="allmap">
    <div id="map" style="height:100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;"></div>
</div>
<div id="toolbar" class="">
    <div class="col-md-12">
        <div class="btn-group">

            <div class="">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-left"></em>1
                </button>
            </div>
            <div class="">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-center"></em> 2
                </button>
            </div>
            <div class="">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-right"></em> 3
                </button>
            </div>
            <div class="">
                <button class="btn btn-default" type="button">
                    <em class="glyphicon glyphicon-align-justify"></em> 4
                </button>
            </div>
            <div class="dropup">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    菜单
                    <span class="caret"></span>
                </button>
                <ul  class="dropdown-menu" aria-labelledby="dropdownMenu2" style="left:auto;right: 0">
                    <li><a href="javascript:getNum()">获取绘制的覆盖物个数</a></li>
                    <li><a href="javascript:clearAll()">清除所有覆盖物</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 column">
    <a  href="#modal-container" role="button" class="hidden" id="btnalert" data-toggle="modal">触发弹窗</a>

    <div class="modal fade" id="modal-container" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">
                        提示
                    </h4>
                </div>
                <div class="modal-body">
                    这里是弹窗的内容
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button><!-- <button type="button" class="btn btn-primary">保存</button>-->
                </div>
            </div>

        </div>

    </div>

</div>
</body>

</html>
